.main-feature{
    background-color: #f1f5f8;
    padding: 20px;
}
.feat_h1{
    text-align: center;
    color: #102a42;
}
.feat_span{
    color: #ab7a5f;
   display: flex;
   float: right;
}
a{
    text-decoration: none;
}